<div class="col-xs-6">
    <%for @redweet in @redweets %>
        <div class="panel panel-default">
          <div class="panel-body">
          
             <p> <%= @redweet.content %> </p>
          </div>
        </div>
     <% end %>
</div>
