<div class="container">
<% if !user_signed_in? #se o usuairo se deslogou %> 
    
    <style>
        body {
            background:linear-gradient(
                rgba(0,0,0, 0.8),
                rgba(0,0,0, 0.8)
                ), url("rocket-launch.jpg") no-repeat center center fixed; /* só carrega uma vez e central no hor e ver */
            -webkit-background-size: cover;
            -moz-background-size: cover; /* cover the whole html element. */
            -o-background-size: cover;
            background-size: cover;
        }
        h1 {
            color: white;
            font-weight: bold;
        }
        .container-index {
            margin-right: 15%;
            margin-left: 15%;
        }
        .text {
            color: white;
            font-weight: 300;
            font-size: 150%;
        }
        .footer-links {
            text-align: center;
            color: white;
            margin-top: 30%;
            font-size: 75%;
        }
        .log-in {
            float: right;
            width: 300px;
            height: 150px;
            margin-top: 7.5%;
        }
        .sign-up {
            float: right;
            width: 300px;
            height: 250px;
        }
        .log-in-form {
            margin: 5px;
        }
    </style>
    
    <div class="container-index row">
        <div class="col-sm-6">
            <h1>Bem vindo ao Redwitter.</h1>
            <p class="text">
                Conecte-se com seus amigos ou faça amigos.<br>
                Compartilhe suas experiências. Se divirta! <br>
                Igual a um blog, mas com menos caracteres!
            </p>
        </div>
        
        <div class=" col-sm-6 text">
                
                <div class = "panel panel-sign-in">
                    <%= render '/utils/sign_in_form' %> <br />
                </div>
                 
                <div class = "panel panel-sign-up">
                    <%= render '/utils/sign_up_form' %> 
                </div>                
        </div>
        
        <div class="col-sm-12">
            <p class="footer-links">© 2017 Redwitter criado por Marcos Flávio</p>
        </div>
        
    </div>
    
    
    
<% else %>
    
    <script>document.location = "/home"</script>
    
<% end %>

</div>
