<div class="row">
    
    <div class="col-xs-12">
        
        <div class="jumbotron">
            <%= @username  %>
        </div>
        
    </div>
    
</div>

<!-- Segunda row -->
<div class="row">
    
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
             <p>Perfil</p>
          </div>
        </div>
    </div>
    
    <div class="col-xs-6">
        
        <%= render '/utils/post_formulario' %><br/>    
        
        <%for @post in @posts %>
            <div class="panel panel-default">
              <div class="panel-body">
              
                 <p> <%= @post.content %> </p>
              </div>
            </div>
         <% end %>
    </div>
    
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
             <p>Quem seguir</p>
          </div>
        </div>
    </div>
    
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
             <p>Trends</p>
          </div>
        </div>
    </div>
    
</div>

